* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
}
.nav-bar{
  background-color: #1E1E1E;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.nav-bar #left  {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.nav-bar #left img{
  height: 8vh;
  width: 10vw;
  object-position: center;
  object-fit: cover;
  border: 2px solid black;
}

.nav-bar #left .btn1 {
  height: 3vw;
  width: 10vw;
  border-radius: 30px;
  border: none;
}

.nav-bar #right .btn2 {
  border: none;

}